/* -------- Custom Website CSS -------- */


/* Add your CSS here with comment title for each section */




/* ------ default.ctp ------- */

/* ------ Global Styles ------- */

h1 {
	text-align: center;
	color: #444;
	margin-top: 3%;
}


/* ------ categories/index.ctp ------ */
.square-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2%;
}

.square-container:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.square {
	position: relative;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square-color0 {
	background: #C02942;
}
.square-color1 {
	background: #D95B43;
}
.square-color2 {
	background: #ECD078;
}
.square-color3 {
	background: #53777A;
}

.square-color0:hover {
	background: #a8243a;
}
.square-color1:hover {
	background: #be4027;
}
.square-color2:hover {
	background: #e6c24d;
}
.square-color3:hover {
	background: #3e595b;
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.square-content {
	color: #fff;
}


/* ------ posts/by_category.ctp ------ */

.post {
  padding: 1rem 1rem 1rem 0;
  display: table; }

.post-cat {
  width: 6rem;
  margin: 0 auto 1rem;
  display: table-cell;
  width: auto; }
  .post-cat .post-cat-image {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center;}
  .post-cat .post-cat-image .post-cat-image-resize{
    width: 3em;}

  .post-cat .post-cat-text {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem; }

.post-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top; }
  .post-desc .post-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0; }
  .post-desc .post-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0; }
  .post-desc .detail.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0; }
