/* -------- Custom Website CSS -------- */


/* Add your CSS here with comment title for each section */




/* ------ default.ctp ------- */

.sticky{
	width: 100%;
}

.container{
	min-height: 100%;
}

.topbar_logo{
	height: 37px;
}


.card {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px; }

  .card .content {
    padding: 1.3rem;
    border-radius: 0 0 2px 2px; }

  .card p {
    margin: 0; }

  .card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }

  .card a {
    margin-right: 1.3rem;
    text-transform: uppercase;
    text-decoration: none; }


footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  }

  footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem; }

  footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
	}

  footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; }

    footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }

    footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }

    .footer_logo{
		height: 37px;
		margin-top: 10px;
	}


.copyright{
	margin-left: 10px;
}

.profile_icon{
	font-size: 40px;
	color: #000;
	text-decoration: none;
	line-height: 0!important;
	padding: 0!important;
}

/* ------ Global Styles ------- */

h1 {
	text-align: center;
	color: #444;
	margin-top: 3%;
}


/* ------ categories/index.ctp ------ */
.square-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 0;
	padding-right: 0;
}

.square {
	position: relative;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.square-content {
	color: #fff;
}

.square-color0 {
	background: #C02942;
}
.square-color1 {
	background: #D95B43;
}
.square-color2 {
	background: #ECD078;
}
.square-color3 {
	background: #53777A;
}


.square-color0:hover {
	background: #a8243a;
}
.square-color1:hover {
	background: #be4027;
}
.square-color2:hover {
	background: #e6c24d;
}
.square-color3:hover {
	background: #3e595b;
}

/* ------ posts/by_category.ctp ------ */

.post {
  padding: 1rem 1rem 1rem 0;
  display: table; }

.post-cat {
  width: 6rem;
  margin: 0 auto 1rem;
  display: table-cell;
  width: auto; }
  .post-cat .post-cat-image {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center;}
  .post-cat .post-cat-image .post-cat-image-resize{
    width: 3em;}

  .post-cat .post-cat-text {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem; }

.post-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top; }
  .post-desc .post-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0; }
  .post-desc .post-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0; }
  .post-desc .detail.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0; }





div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
    box-radius: 5px;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}

.bycat .square-container {
	margin-top: 0%!important;
}

.cat-desc {
	margin-top: 20%;
	font-size: 2em;
}

.column {
	padding: 0px;
}
