/* -------- Custom Website CSS -------- */


/* Add your CSS here with comment title for each section */




/* ------ default.ctp ------- */

.sticky{
	width: 100%;
}

.container{
	min-height: 100%;
}

.topbar_logo{
	height: 37px;
}

footer{
	height: 25px;
	background-color: #e6e6e6;
}

.copyright{
	margin-left: 10px;
}

.profile_icon{
	font-size: 40px;
	color: #000;
	text-decoration: none;
	line-height: 0!important;
	padding: 0!important;
}



/* ------ categories/index.ctp ------ */
.square-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2%;
}

.square-container:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.square {
	position: relative;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square-color0 {
	background: #C02942;
}
.square-color1 {
	background: #D95B43;
}
.square-color2 {
	background: #ECD078;
}
.square-color3 {
	background: #53777A;
}

.square-color0:hover {
	background: #a8243a;
}
.square-color1:hover {
	background: #be4027;
}
.square-color2:hover {
	background: #e6c24d;
}
.square-color3:hover {
	background: #3e595b;
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.square-content {
	color: #fff;
}
